@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fffbf7;
    font-family: 'Poppins', Arial, sans-serif;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}
h1 {
    color: blue;
}
h2 {
    color: #46484c;
}
p {
    color: #8b8b8bcc;
}
.logo img {
    vertical-align: middle;
}
input {
    margin-bottom: 5px;
}
.header {
    margin: 20px 20px 50px 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    height: 45px;
}
li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}

li a {
    color: #025157;
    text-decoration: none;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions > * {
    margin: 0 10px 0 10px;
}
.actions a {
    color: #67b54b;
    text-decoration: none;
}
button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

/* Publish CSS */
.publish {
    margin-left: 35px;
}

.publish h3 {
    font-family: "Roboto", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
}

.publish-form input {
    height: 32px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
}

#image-promo {
    width: 150px;
    display: flow;
}

.fixed-header {
    position: fixed;
    background-color: #fffbf7;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Stories Section */
.stories {
    background-color: #A1D683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stories .overview {
    flex: 2;
    padding-right: 100px;
}
.stories .overview h2 {
    font-family: 'Hind', Arial, sans-serif;
    font-size: 50px;
    line-height: 60px;
    color: #025157;
}
.stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}
.stories .overview img {
    width: 600px;
    max-width: 100%;
}
.stories .carousel {
    flex: 1;
}
.stories .carousel .carousel-indicators {
    position: unset;
    justify-content: center;
}
.stories .carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.stories .carousel .card .card-media img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.stories .carousel .card .card-media figure {
    margin-top: 0;
}
.stories .carousel .card .card-media {
    position: relative;
}
.stories .carousel .card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #F9DA73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stories .carousel .card .card-media .company img {
    max-width: 75%;
}
.stories .carousel .card .card-body,
.stories .carousel .card .card-footer {
    padding: 25px;
}
.stories .carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.stories .carousel .card .card-body h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.stories .carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
}
.stories .carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}
.stories .carousel .card .card-body .results p {
    margin-top: 0;
}
.stories .carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
}
.stories .carousel .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}
.stories .carousel .carousel-inner {
    display: flex;
    flex-direction: column;
}
